<app-webrtc></app-webrtc>

<!-- <div
  class="container"
  style="display: flex; align-items: center; justify-content: center;"
>
  <ng-template #headerButton>
    <button (click)="panelTemp.selectTab(signin)">signin</button>
    <button (click)="panelTemp.selectTab(signout)">signout</button>
  </ng-template>

  <app-tabs-panel #panelTemp [headerTemplate]="headerButton">
    <app-tab [title]="'login'" [selected]="true" #signin>
      <form>
        <div class="form-field">
          <label>Email:</label><input class="login-email" />
        </div>
        <div class="form-field"><label>Password:</label><input /></div>
      </form>
    </app-tab>

    <app-tab [title]="'signup'" [selected]="false" #signout>
      <form>
        <div class="form-field"><label>Email:</label><input /></div>
        <div class="form-field"><label>Password:</label><input /></div>
        <div class="form-field"><label>Confirm Password:</label><input /></div>
      </form>
    </app-tab>
  </app-tabs-panel>
</div> -->
